<script type="text/javascript" src="swfobject.js"></script>
<div id="ytapiplayer" class="alert-message notice">
  <p><strong>You need Flash player 8+ and JavaScript enabled to view this video.</strong></p>
</div>
<%- unless @video.nil? || @user.nil? %>
  <script type="text/javascript">
    seenVideos.push("<%= @video.youtube_id %>");
    var params = { allowScriptAccess: "always", wmode: "transparent", allowFullScreen: "true" };
    var atts = { id: "myytplayer" };
    swfobject.embedSWF("http://www.youtube.com/e/<%= @video.youtube_id %>?enablejsapi=1&version=3&playerapiid=myytplayer",
                       "ytapiplayer", "853", "510", "8", null, null, params, atts);
  </script>
  <div id="attribution">
    <strong class="video-title"><%= @video.title %></strong>
    as added by
    <strong class="user-name"><%= @user.display_name %></strong>
  </div>
  <%= button_to_function('Skip this song', 'playNext()', :class => "btn primary") %>
  <%= button_to_function('Skip song & try the new player', 'playNextSpl()', :class => "btn success") %>
<%- else %>
  <script type="text/javascript">
    displayMsg("All the Videos in the Playlist have been played.","notice");
  </script>
  <%= button_to_function('Try again', 'playNext()', :class => "btn primary") %>
  <%= button_to_function('Encore', 'clearSeenVideos()', :class => "btn") %>
<%- end %>