<script type="text/javascript" src="swfobject.js"></script>
<div id="ytapiplayer">
  You need Flash player 8+ and JavaScript enabled to view this video.
</div>
<script type="text/javascript">
  seenVideos.push("<%= @video.youtube_id %>");
  var params = { allowScriptAccess: "always" };
  var atts = { id: "myytplayer" };
  swfobject.embedSWF("http://www.youtube.com/e/<%= @video.youtube_id %>?enablejsapi=1&version=3&playerapiid=myytplayer",
                     "ytapiplayer", "425", "356", "8", null, null, params, atts);
</script>
<div id="attribution">
  <span class="video-title"><%= @video.title %></span>
  as added by
  <span class="user-name"><%= @user.display_name %></span>
</div>
<%= button_to_function('Skip!', 'playNext()', :class => "btn primary") %>
