<!DOCTYPE html>
<html>
<head>
  <title>Beer Friday DJ</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <h3><a href="/">Beer Friday DJ!</a></h3>
        <h3 class="float-left">
          <span>|</span>
          <span>Office Music for Office People</span>
        </h3>
        <%- if @logged_in_user %>
          <h5 id="greeting">
            Hey <%= @logged_in_user.email %>,
            <%= link_to('Play music', "/player") %>
            <span>|<span>
            <%= link_to('Sign out', session_path(@logged_in_user.id), :method => :delete) %>
          </h5>
        <%- else %>
          <h5 id="greeting">
            <%= link_to('Play music', "/player") %>
          </h5>
        <%- end%>
      </div>
    </div>
  </div>
  <div id="masthead" class="container">
    <%- if flash[:notice] %>
      <div id="notice_container" class="alert-message error">
        <a class="close" onclick="hideNotice('notice_container');" href="#">×</a>
        <p><strong>Oh snap!</strong> <%= flash[:notice] %></p>
      </div>
    <%- end %>
    <%- if @logged_in_user %>
      <section id="add-video_container">
        <div id="add-video">
          <%= form_tag({:controller => :videos, :action => :create},{:id=>"the_form", :name=>"the_form", :onsubmit => "return validateForm()"}) %>
            <fieldset>
              <div id="form_fields_block" class="clearfix fields_container align-center">
                <%= text_field_tag('url',"", :placeholder => "Enter Youtube URL here | You should be adding lots of videos", :class => "xlarge") %>
                <%= submit_tag('Add video!', :class=>"btn primary") %>
                <span class="help-inline">Please enter a valid URL</span>
              </div>
            </fieldset>
          </form>
        </div>
      </section>
    <%- else %>
      <section id="sign-in_container">
        <div id="sign-in">
          <%= form_tag({:controller => :sessions,:action => :create}, {:id=>"the_form", :name=>"the_form", :onsubmit => "return validateForm()"} ) %>
            <fieldset>
              <div id="form_fields_block" class="clearfix fields_container align-center">
                <%= email_field_tag('email',"", :placeholder => "Just enter your email address", :class => "xlarge") %>
                <%= submit_tag('Sign in!', :class=>"btn primary") %>
                <span class="help-inline">Please enter a valid Email</span>
              </div>
            </fieldset>
          </form>
        </div>
      </section>
    <%- end %>

    <%= yield %>
  </div>
</body>
</html>
